@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: "Open Sans", sans-serif;
    color: black;
    list-style-type: none;
}

li{
    font-size: 25px;
    font-family: "Host Grotesk", serif;
    color: black;
}

.item{
    justify-content: center;
    margin: auto;
}

#total, #carrito-vacio{
    text-align: center;
}

.item{
    display: flex;
   
    gap: 20px;
    justify-content: center;
    
}

.info-producto{
    justify-content: center;
    width: 200px;
    
}


.item div:hover{
    transform: scale(1.2);
    transition: all .5s;
}


.item img{
    width: 200px;
    border-radius: 10px 10px 10px 10px; 
    transition: all .5s;
}

item:hover{
    box-shadow: rgba(184, 14, 14, 0.2);
}

